{% extends('FSBASTTFrontBundle::template.news.html.twig') %}

{% block page_title %}
    {{ page_title }}
{% endblock %}

{% block content %}
    <div class='row-fluid'>
        <div class="coordinates span4">
            <h3>Amiens Sport Tennis de Table</h3>
            <p>304 rue Gaulthier de Rumilly</p>
            <p>80000 AMIENS</p>
            <p>03 22 95 37 99</p>
            <p><a href="mailto:astt@wanadoo.fr">astt@wanadoo.fr</a></p>
        </div>
        <div id="map" class='span8'>
            <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=fr&amp;geocode=&amp;q=304+Rue+Gaulthier+de+Rumilly,+Amiens,+France&amp;aq=0&amp;oq=304+&amp;sll=37.0625,-95.677068&amp;sspn=19.927952,86.572266&amp;ie=UTF8&amp;hq=&amp;hnear=304+Rue+Gaulthier+de+Rumilly,+80000+Amiens,+Somme,+Picardie,+France&amp;ll=49.880315,2.290889&amp;spn=0.001877,0.005284&amp;t=m&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=fr&amp;geocode=&amp;q=304+Rue+Gaulthier+de+Rumilly,+Amiens,+France&amp;aq=0&amp;oq=304+&amp;sll=37.0625,-95.677068&amp;sspn=19.927952,86.572266&amp;ie=UTF8&amp;hq=&amp;hnear=304+Rue+Gaulthier+de+Rumilly,+80000+Amiens,+Somme,+Picardie,+France&amp;ll=49.880315,2.290889&amp;spn=0.001877,0.005284&amp;t=m&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left">Agrandir le plan</a></small>
        </div>
    </div>
{% endblock %}