{% extends('FSBASTTFrontBundle::layout.html.twig') %}

{% block main %}
    {% block news_flux_container %}
    {% endblock %}
    <div class="main_container">
        <h1 class="page_title">{% block page_title %}{% endblock %}</h1>
        <div class="content">
            <div class="alerts">
                {% for key, message in app.session.getFlashes() %}
                    <div class="alert alert-{{ key }}">
                        <a class="close" data-dismiss="alert">×</a>
                        <h4>{{ key|title }}!</h4>
                        <p>{{ message }}<p>
                    </div>
                {% endfor %}
            </div>
            {% block content %}
                
            {% endblock %}
        </div>
        <div class="spacer"></div>
    </div>
{% endblock %}