# Bootstrap
app/bootstrap*

# Cache
app/cache/*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*


# Configuration files
app/config/parameters.ini

# Sql Files
*.sql

# NetBeans Project files
nbproject/*

# Public Images
web/images/album/*

# DS_Store files
*.DS_Store