<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Amiens Sport Tennis de Table{% endblock %}</title>
        {% block stylesheets %}
            
        {% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div id="header">
            {% block header %}
                
            {% endblock %}
        </div>
        
        <div class="{% block class_nav %}{% endblock %}">
            {% block nav %}
                 
            {% endblock %}
        </div>
        
        {% block body %}
            <div id="main" class="{% block class_main %}{% endblock %}">
                {% block main %}
                    
                {% endblock %}
            </div>
        {% endblock %}
        
        <div class="footer">
            {% block footer %}
                 
            {% endblock %}
        </div>
        
        {% block javascripts %}
            
        {% endblock %}
        
        {% include "GoogleBundle:Analytics:async.html.twig" %}
    </body>
</html>
