{% extends('FSBASTTAdminCrudBundle::layout.html.twig') %}

{% block main %}
    <h1>Ajout d'une interview</h1>

    <form action="{{ path('interview_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <button class="btn btn-success" type="submit">Créer</button>
    </form>

    <ul class="record_actions">
        <li>
            <a class="btn btn-info" href="{{ path('interview') }}">Revenir à la liste</a>
        </li>
    </ul>
{% endblock %}