{% extends('FSBASTTFrontBundle::template.news.html.twig') %}

{% block page_title %}
    {{ page_title }}
{% endblock %}

{% block content %}
    <div class="global-wrapper display-single centered">
        <img class="babyping-img" src="{{ asset('images/baby_ping/babyping1.jpg') }}" alt='Baby Pongistes' />
        <p>
            Vous vous posez des questions sur les difficultés à enseigner le tennis de table dès 4 ans,
            <br />
            vous trouverez ici un début de réponse à vos interrogations.

            Que permet de développer le tennis de table à cet âge ?
            <br />
            Elle permet de développer chez l'enfant des compétences physiques, tactiques, psychologiques et techniques :
            <br />
            être capable de construire des stratégies, de réfléchir comment gagner, d'augmenter ses réflexes, sa souplesse, sa vivacité et sa tonicité, s'affirmer au sein d'un groupe...
            <br />
            Comment peut-il apprendre à jouer alors qu'il dépasse à peine de la table ?
            <br />
            Nous avons à disposition des tables dites évolutives qui sont réglables suivant la taille des enfants. :
            Des raquettes adaptées à leur petite main et des balles de constitution diverses sont fournies.
            <br />
            L'activité est encadrée par Christophe Harlé, entraîneur fédéral.
            <br />
            Les parents ? Ils peuvent assister au déroulement du cours. A quel moment de la semaine ? Le mercredi après-midi.
        </p>

        <img class="babyping-img" src="{{ asset('images/baby_ping/babyping2.jpg') }}" alt='Baby Pongistes' />
    </div>
{% endblock %}