{% extends('FSBASTTFrontBundle::template.news.html.twig') %}

{% block page_title %}
    {{ page_title }}
{% endblock %}

{% block content %}
    <div class="row-fluid centered">
        <div class='span2 offset2'>
            <img class="handisport-img" src="{{ asset('images/handisport/Handi1.jpg') }}" alt='Entrainement Handisport' />
        </div>
        <div class='span6'>
            <h4>La pratique handisport prend une part de plus en plus importante au  sein du club et les résultats de nos représentants sont en constante progression depuis plusieurs saisons.</h4>
            <p>
                Cette action est née sous l'impulsion de l'un de nos licenciés, handicapé physique, qui nous a incité à développer la pratique du tennis de table chez les personnes handicapées en créant une section handisport au sein de notre club.
                Les objectifs de cette action sont :
                <br />
                <ul>
                    <li>de faire découvrir l'activité tennis de table aux personnes handicapées</li>
                    <li>de favoriser leur intégration sociale en leur permettant de se retrouver et de rencontrer des sportifs valides</li>
                    <li>de les aider à mieux vivre leur handicap grâce à la pratique sportive</li>
                    <li>de les aider à élever leur niveau de pratique du tennis de table afin qu'ils représentent du mieux possible l'Amiens Sport Tennis de Table lors des compétitions nationales et régionales auxquelles ils participent.</li>
                </ul>
                <br />
                Depuis sa création en 1998, cette section "handisport" ne cesse de se développer.
                <br />
                Dans le cadre du développement de la pratique du tennis de table chez les personnes handicapées, nous organisons une fois par semaine (le mercredi de 17h à 19h) une séance d'entraînement dirigé spécifique "handisport".<br />
                Cette séance est encadrée par un bénévole du club qui possède un diplôme fédéral d'"Entraîneur Régional".<br />
                Elle se déroule en même temps que des séances d'entraînements "jeunes" afin de permettre à ces deux publics de se rencontrer.<br />
                En parallèle, un certain nombre de ces joueurs handicapés participent aux compétitions de tennis de table organisées par la Fédération Française Handisport du plus haut niveau national au niveau régional.
            </p>
        </div>
    </div>
    <div class='row-fluid'>
        <div class='span2 offset2'>
            <img class="handisport-img" src="{{ asset('images/handisport/Handi2.jpg') }}" alt='Double Handisport' />
        </div>
        <div class='span6'>
            <h4>Titres obtenus par la section :</h4>
            <ul>
                <li>3 de niveau régional (JP PRENGERE, E. LEGRAND et C. CAUDRELIER).</li>
                <li>2 de niveau national (W. MANIER et A. DAIRAINE).</li>
                <li>Qualifiés depuis quelques saisons au Championnat de France individuel et au Championnat de France par équipes.</li>
            </ul>
            <p>
                Le club organise un trophée national valide depuis quelques saisons avec un tableau handisport le samedi.
                <br />
                Pour la saison 2005 nous avons eu le plaisir d'accueillir :
            </p>
            <ul>
                <li>Le nouveau Champion d'Europe, F. MERIEN.</li>
                <li>M. PEETERS plusieurs fois médaillé aux jeux olympyques (6 participations), et Champion du monde en classe 3.</li>
            </ul>

            <p>Depuis 2008, la section handisport de l'Amiens Sport Tennis de Table compte une dizaine d’adhérents.</p>
            <br />
            <h4>Le tennis de table est une activité sportive accessible à tous tant sur le plan réglementaire que sur le plan matériel.</h4>
        </div>
    </div>
{% endblock %}