{% extends('FSBASTTFrontBundle::template.news.html.twig') %}

{% block page_title %}
    {{ page_title }}
{% endblock %}

{% block content %}
    <div class="global-wrapper display-single centered">
        <h3>Presidents</h3>

        <div class='histo-img'>
            <img src="{{ asset('images/historique/Histo2.jpg') }}" alt='France Chine 1984'>
            <p>France-Chine en 1984</p>
        </div>
        <div class='histo-img'>
            <img src="{{ asset('images/historique/Histo2.jpg') }}" alt='Championnats de France 1998'>
            <p>Championnat de France</p>
        </div>

        <ul class='presidents'>
            <li>1944 à 1968 : Albéric LABAUME</li>
            <li>1968 à 1969 : Jean RENAUX</li>
            <li>1970 à 1971 : Albéric LABAUME</li>
            <li>1972 à 1979 : Jacques GAMBIER</li>
            <li>1980 à 1985 : Jacques HELAINE</li>
            <li>1986 à 1992 : Jany FROISSART</li>
            <li>1992 à 2007 : Jean ROYON</li>
            <li>2007 à 2008 : Stéphane BAERT</li>
            <li>Depuis 2008 : Dany BOURRE</li>
        </ul>

        <h3>Historique</h3>
        <ul class='historique'>
            <li>1945 : Création du club par Albéric Labaume et Pierre Halattre.</li>
            <li>1953 : Jacques Gambier champion de France junior.<br />
            Jacques Gambier vainqueur des internationaux de Belgique juniors.</li>
            <li>1954 : Montée de l'équipe en Nationale 2.</li>
            <li>1956 : Jacques Hélaine successivement champion de France cadet et junior</li>
            <li>1962 : Jacques Gambier champion de France double messieurs.</li>
            <li>1963 : Jacques Gambier champion de France double mixte.<br />
            Le club remporte la Coupe des Flandres en Dame.</li>
            <li>1964 : Jacques Hélaine champion de France double messieurs.</li>
            <li>1965 : Jacques Hélaine champion de France double messieurs.</li>
            <li>1966 : J. Hélaine et J. Gambier champions de France double messieurs.<br />
            Vainqueur Coupe de France.</li>
            <lI>1967 : Vainqueur Coupe de France.<br />
            Champion de France Nationale 1.</li>
            <li>1968 : Champion de France Nationale 1.<br />
            Organisation du Championnat de France Individuel.</li>
            <li>1969 : Champion de France Nationale 1.</li>
            <li>1975 : Organisation d'une rencontre entre la France et le Japon.</li>
            <li>1982 : L'équipe féminine dispute la Coupe d'Europe.</li>
            <li>1984 : Organisation d'une rencontre entre la France et la Chine.</li>
            <li>1985 : Benoît Lassaire vice champion de France en double cadet à Dijon.<br />
            Participation aux internationaux de La Roche-sur-Yon.<br />
            Il devient Champion de France Cadet UFOLEP.</li>
            <li>1988 : Benoît Lassaire vice champion de France en double Juniors à Perpignan.</li>
            <li>1990 : Médaille de bronze des minimes garçons aux interclubs nationaux.</li>
            <li>1992 : Médaille de bronze des cadets garçons aux interclubs nationaux.</li>
            <li>1998 : Organisation des championnats de France seniors au Coliseum d'Amiens.<br />
            J. Taquet champion de France Vétérans.</li>
            <li>1999 : Médaille de bronze des minimes garçons aux interclubs nationaux.</li>
            <li>2003 : Montée de l'équipe 1 des garçons en Pro B.</li>
            <li>2004 : Médaille d'or d'Aurore Dessaint aux Championnats de France minimes.</li>
            <li>2008 : Qualification de l’équipe benjamins aux interclubs nationaux</li>
            <li>2009 : Qualification des équipes benjamins et minimes garçons aux interclubs nationaux</li>
            <li>2010 : 4 titres de champion de Picardie jeunes<br />
            Qualification des équipes benjamines et minimes garçons aux interclubs nationaux</li>
            <li>2011 : Qualification des équipes benjamines et minimes garçons aux interclubs nationaux<br />
            10e du Challenge National Bernard Jeu</li>
        </ul>
    </div>
{% endblock %}