/* FONTS */
@import url('http://fonts.googleapis.com/css?family=Rokkitt:400,700');
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab:400,700');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body {
    font-family: 'Rokkitt', serif;
    font-weight: 500;
}

/* HEADER */
#header {
    background: #4C79BD url('../images/grid-18px-masked.png') repeat-x;
    font-weight: 600;
    color: #FFFFFF;
}

#header #header-overlay {
    opacity: 0.8;
}

#header #header-overlay #photo-1 {
    background: url('../images/header/alexandre_haignere.png') no-repeat;
    display: block;
}

#header #header-overlay #photo-2 {
    background: url('../images/header/malin_plotuna.png') no-repeat;
    display: none;
}

#header #header-overlay #photo-3 {
    background: url('../images/header/raphael_chatelain.png') no-repeat;
    display: none;
}

#header #header-overlay #photo-4 {
    background: url('../images/header/william_manier.png') no-repeat;
    display: none;
}

#header #header-overlay #photo-5 {
    background: url('../images/header/valentine_hure.png') no-repeat;
    display: none;
}

#header a {
    color: #FFFFFF;
}

#header a:hover {
    text-decoration: none;
    cursor: pointer;
}

#header h1 {
    color: #FFFFFF;
    text-shadow: 0 1px 100px #FFFFFF;
}

#header #header_links {
    vertical-align: bottom;
    line-height: 100%;
}

#header #header_links a {
    color: #FFFFFF;
}

#header #header_links a:hover {
    font-style: italic;
    cursor: pointer;
}

/* NAV */
.navbar {
    font-weight: 600;
}

/* MAIN CONTAINER */
.page_title {
    text-transform: uppercase;
}

.news-nav {
    background: #2E3D9C;
}

.news-nav h4 {
    text-align: center;
    color: #FF0;
}

.news-nav .news-nav-links {
    list-style: none;
}

.news-nav .news-nav-links li {
    text-transform: capitalize;
}

.news-nav .news-nav-links li a.news-link {
    color: #FFF;
    text-decoration: none;
    font-style: normal;
}

.news-nav .news-nav-links li a.news-link:hover {
    color: #888;
}


/* HOME */
.speed-nav-container {
    border-bottom: 1px solid black;
}

.news-img-left {
    float: left;
    margin: 0 5px;
}

.news-img-right {
    float: right;
    margin: 0 5px;
}

/* LIVRE OR */
.messages .message {
    border-top: 1px dashed black;
}

.messages .message h4 {
    
}

.messages .message h5 {
    font-style: italic;
    text-decoration: underline;
}

.messages .message p {
    text-align: justify;
}

/* PHOTOS */
.medias-nav ul {
    list-style: none;
}

.toggle_sublevel {
    cursor: pointer;
}

/* FOOTER */
.footer #footerTabContent .events_list {
    
}

.footer #footerTabContent .calendar_min {
    
}

.footer #footerTabContent .coverflow {
    
}

.footer #footerTabContent .footer_themes .theme {
    border-radius: 5px;
    text-align: center;
}


/* TOOLS */
.display-single h3 {
    text-align: center;
    text-transform: uppercase;
}

.display-single h5 {
    color: grey;
    text-decoration: underline;
    font-style: italic;
}

.display-single p {
    text-align: justify
}

td.grey {
    color: grey;
}

.text-center {
    text-align: center;
}

/* DESIGN PAGE */
#colorpickerselector {
    background: black;
    border-radius: 5px;
    border: 3px solid black;
}

#colorpickerselector div {
    border-radius: 5px;
}