* { 
    margin: 0;
    padding: 0;
}

/* HEADER */
#header {
    position: relative;
    width: 100%;
    height: 120px;
}

#header #header-overlay,
#header #header-informations {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#header #header-overlay {
    z-index: 1;
}

#header #header-overlay .header-photo {
    position: absolute;
    bottom: 0;
}

#header #header-overlay #photo-1 {
    width: 173px;
    height: 100px;
    left: 65%;
}

#header #header-overlay #photo-2 {
    width: 141px;
    height: 100px;
    left: 180px;
}

#header #header-overlay #photo-3 {
    left: 20%;
    width: 119px;
    height: 100px;
}

#header #header-overlay #photo-4 {
    left: 180px;
    width: 154px;
    height: 100px;
}

#header #header-overlay #photo-5 {
    left: 75%;
    width: 52px;
    height: 100px;
}

#header #header-informations {
    z-index: 2;
}

#header #header-logo {
    position: absolute;
    top: 0;
    left: 0;
    margin: 5px;
}

#header #header-logo img {
    width: 110px;
    height: 110px;
}

#header h1 {
    text-align: center;
    padding: 10px;
}

#header_links {
    position: absolute;
    width: 100%;
    height: 55px;
}


#header .header-address .header-address-icon {
    float: left;
    
}

#header .header-address .header-address-street,
#header .header-address .header-address-city {
    margin: 0 0 0 20px;
    
}

#eader_links .pull-left {
    bottom: 0;
    padding: 0 0 0 2%;
    position: absolute;
}

#header_links .pull-right {
    padding: 0 2% 0 0;
}

/* FRONT TABLE */
.content .table-content {
    width: 99%;
}

/* PHOTOS */
#galery .carousel-inner .item > img {
    max-width: 100%;
    margin: auto;
}

#galery .carousel-control {
    top: 50%;
}

/* NAVIGATION MENU */
ul.nav.front-nav {
    width: 100%;
}

ul.nav.front-nav li {
    width: 20%;
}

ul.nav.front-nav li.dropdown.open ul.dropdown-menu li {
    width: 100%;
}

/* HOME */
.speed-nav-container {
    padding: 0 0 20px 0;
}

.news_row {
    float: left;
    clear: left;
    width: 100%;
}

.news {
    width: 49%;
    margin: 10px 0;
    border-radius: 10px;
    height: 100%;
    padding: 10px 0;
}

.news_0,
.news_2,
.news_4 {
    float: left;
}

.news_1,
.news_3,
.news_5 {
    float: right;;
}

.news img {
    max-width: 200px;
    max-height: 180px;
}

.news.display-single img {
    max-width: 100%;
    max-height: none;
    margin: 10px 0;
}

.news-img-center {
    display: block;
    margin: auto;
}

.news-img-left {
    display: block;
    float: left;
    margin: 0 5px;
}

.news-img-right {
    display: block;
    float: right;
    margin: 0 5px;
}

.news_description {
    margin: 8px 20px;
}

.news_links {
    display: inline-block;
    margin: 0 20px;
}

.other_news_links {
    clear: both;
    width: 80%;
}

/* NEWS PANEL */
.news-nav {
    overflow: hidden;
    width: 10px;
    height: 100%;
    position: absolute;
    z-index: 50;
    right: 0px;
    margin: -19px 0;
    padding: 0;
    border-left: 1px dashed grey;
}

.news-nav .news-nav-links {
    list-style: none;
    margin: 0px 0px 0px 20px;
    display: block; 
}

.news-nav h4 {
    margin: 15px 0;
}

.news-nav-links li {
    margin: 5px 0;
}

/* MAIN CONTAINER */
#main {
    position:relative;
}

.main_container h1.page_title {
    text-align: center;
    margin: 15px 0;
}

.spacer { clear: both; }

/* NEWS */
.news-list {
    list-style: none;
    width: 60%;
    margin: auto;
}

.news-list li {
    
}

/* ACCESS */
#map {
    display: block;
    height: 60%;
    margin: 0 auto;
    text-align: center;
}

#map iframe {
    width: 100%;
    height: 100%;
}

.content .coordinates {
    float: left;
}

/* HISTORIQUE */
.content .histo-img {
    float: right;
    margin: 8px 3px 3px 3px;
}

.content .histo-img:last-child {
    margin: 8px 150px 3px 3px;
}

/* BABY-PING && HANDISPORT */
.content .handisport-img,
.content .babyping-img {
    float: left;
    margin: 0 45px 0 0;
}

.content .babyping-img {
    clear: left;
    width: 215px;
    margin: 0 45px 10px 0;
}

/* TEAMS */
.table_team_header {
    font-size: 1.2em;
    font-style: italic;
    text-transform: uppercase;
}

.photo-wrapper {
    text-align: center;
}

.team-photo {
    width: 400px;
}

.results-summary {
    float: left;
}

.results-summary a {
    float: right;
    margin: 0 1px;
}

.table td.results-summary-description {
    text-align: justify;
}

/* INTERVIEWS */
.menu_interviews {
    float: left;
    margin: 0 50px 0 0;
}

.menu_interviews li {
    list-style: none;
    margin: 0 10px;
    display: block;
    width: 100%;
}

.menu_interviews li a {
    display: inline-block;
    width: 100%;
    padding: 4px 0;
}

/* LIVRE OR */
.messages-header {
    width: 400px;
    margin: auto;
}

.form_messages input[type="text"],
.form_messages textarea {
    width: 100%;
}

.form_messages textarea {
    height: 160px;
}

.messages {
    width: 50%;
    margin: auto;
    position: relative;
}

.messages .message {
    padding: 10px 0 5px 0;
}

/* CALENDAR */
.table-calendar {
    width: 31%;
    margin: 20px 1% 0 1%;
    float: left;
}

.table-calendar:nth-child(3n+2) {
    clear: left;
}

/* TROPHEE NATIONAL */
.trophee-infos {
    position: relative;
    width: 500px;
    height: 300px;
}

.trophee-infos img.trophee-affiche {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -150px 0 0 -100px;
}


/* PHOTOS */
#galleria {
    width: 800px;
    margin: 0 auto;
}

.medias-nav {
    float: left;
}

.medias-nav ul.level_1 {
    margin: 0;
}


/* FOOTER */
.footer {
    
}

#footerTab li {
    display: inline-block;
    width: 33%;
    text-align: center;
}

#footerTab li a {
    
}

.footer #footerTabContent {
    max-height: 220px;
    overflow: hidden;
    display: block;
}

.footer #footerTabContent active {
    
}

.footer #footerTabContent .tab-pane {
    position: relative;
}

.footer #footerTabContent .events_list {
    position: relative;
    top: 0;
    left: 3%;
    width: 60%;
    height: 210px;
    margin: 0 2% 0 0;
    padding: 0 4px;
    overflow: hidden;
}

.footer #footerTabContent .events_links {
    list-style: none;
    margin: 18px 20px 0 20px;
}

.footer #footerTabContent .footer_calendar {
    position: absolute;
    top: 0;
    right: 2%;
    width: 30%;
    height: 210px;
    padding: 0 4px;
}

.footer #footerTabContent .footer_calendar .table {
    margin: 0;
}

.footer #footerTabContent .coverflow {
    width: 95%;
    height: 220px;
}

.footer #footerTabContent .footer_news {
    position: relative;
    top: 0;
    left: 3%;
    width: 60%;
    height: 210px;
    margin: 0 2% 0 0;
    padding: 0 4px;
    overflow: hidden;
}

.footer #footerTabContent .footer_news .news-links {
    list-style: none;
    margin: 18px 20px 0 20px;
}

.footer #footerTabContent .footer-archive-link {
    position: absolute;
    top: 0;
    right: 2%;
    width: 30%;
    height: 100%;
    text-align: center;
}

.footer #footerTabContent .footer-archive-link p {
    margin: 65px 0 0 0;
}

.footer #footerTabContent .footer-archive-link a {
    margin: 30px auto 0 auto;
}

.footer #footerTabContent .footer_themes {
    width: 90%;
    text-align: center;
    height: 220px;
}

.footer #footerTabContent .footer_themes .theme {
    width: 20%;
    height: 50px;
    margin: 5px 2%;
    border-radius: 5px;
    display: inline-block;
}

.footer #footerTabContent .footer_themes .theme a {
    line-height: 50px;
    margin: 0;
    padding: 0;
    width: 100%;
}

/* TOOLS */
.centered {
    margin: auto;
}

.display-single {
    padding: 0 20px;
    width: 600px;
}

.display-single h3 {
    margin: 20px 0;
}

.display-single h5 {
    margin: 5px 10px;
}

.display-single p {
    margin: 0 10px;
}

.content .global-wrapper {
    width: 1000px;
}

.absolute {
    position: absolute;
}

.onLeft {
    left: 0;
}

.onRight {
    right: 0;
}

.onTop {
    top: 0;
}

.onBottom {
    bottom: 0;
}

.table-middle {
    width: 50%;
    margin: auto;
}

/* DESIGN PAGE */
#colorpickerselector {
    width: 50px;
    height: 50px;
    margin: auto;
}

#colorpickerselector div {
    height: 100%;
    width: 100%;
}